body{
  padding: 0;
  margin: 0;

  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
    }
  }

  .table{
    .table-header{
      display: block;
      li{
        display: inline-block;
        padding: 4px 6px;
        width: 35px;
        font-weight: bold;
        &:first-child{
          width: 80px;
        }
        &:nth-child(2){
          width: 40px;
        }
      }
    }
    .table-content{
      display: block;
      li{
        display: inline;
        li{
          display: inline-block;
          padding: 4px 6px;
          width: 35px;
          &:first-child{
            width: 80px;
            font-weight: bold;
          }
          &:nth-child(2){
            width: 40px;
            font-weight: bold;
          }
        }
      }
    }
  }
}